@import 'bootstrap';

$lightGray: #999;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 131px;
}

body > .container {
  padding: 60px 15px 0;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* FOOTER */


#footer .container {
  border-top: 1px solid #eaeaea;
}

#footer  {
  margin-top: 45px;
  padding-top: 5px;
  color: $lightGray;

  #rails-logo {
    margin: 10px 0;
  }

  p {
    margin: 50px 0;
  }

  nav {
    margin-top: 10px;
  }

  a {
    color: #555;
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 20px;
    }
  }
}

